// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$orange_button: #FFB95C;
$blue: #1790FF;
$light-blue: rgba(23, 144, 255, 0.3);
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #FF5F56;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #09C358;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #434A53;
$light-grey: rgba(67,74,83,0.3);
$dark-grey: #AAB2BD;
$bg-light-blue: #E6F7FF;

$primary-text: #0F1419;
