// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Inter');
//@import 'antd/dist/antd.css';
// Variables
@import 'variables';


// Bootstrap
//@import '~bootstrap/scss/bootstrap';



.guest {

}
.login-sider {
    width: 600px !important;
    min-width: 600px !important;
    max-width: 600px !important;
    background-color: #FFFFFF !important;

    &.user {
        background-color: #FFFFFF !important;
        border-radius: 30px 0 0 30px;
        position: absolute;
        right: 0;
        height: 100vh;

        & .ant-select-selector {
            border-radius: 8px;
        }
        & .ant-input-number-handler-wrap {
            border-radius: 0 8px 8px 0;
        }
        & .ant-form-item-label > label {
            height: 40px;
        }
    }
    &.setting {
        width: 970px !important;
        min-width: 970px !important;
        max-width: 970px !important;
    }
}
.header {
    background-color: #FFFFFF;
    height: 70px;

    & .logo {
        width: 230px;
        height: 35px;
        margin-top: 15px;
        background-image: url(/i/logo.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    & .nav {
        margin-right: 10px;

        &.active {

        }
    }
}

.footer {
    background-color: #FFFFFF;
    height: 70px;
}

.sider-systems {
    width: 70px !important;
    max-width: 70px !important;
    min-width: 70px !important;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
}

.sider-menu {
    width: 92px !important;
    max-width: 92px !important;
    min-width: 92px !important;
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    border-right: 1px solid #f6f7f9;
}

.main-container {
    //background-color: #FFFFFF;
    //border-radius: 3px;
    //margin: 0 3vh 3vh 3vh;
    width: 100%;
}

.admin-breadcrumbs {
    padding: 0 0 0 35px;
}

.logout {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    color: grey !important;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.main_table {
    margin: 25px 5px 0 5px;
}

.icon_system {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    margin: 15px 12px 10px 12px;

    &.facebook {
        background-image: url(/i/facebook.png);
    }

    &.yandex {
        background-image: url(/i/yandex.png);
    }
}

.left_menu {
    font-size: 32px;
    margin: 10px 16px 0 16px;
    color: #a9b2bd;
    padding: 3px 13px;
    display: inline-block;
    vertical-align: top;

    &.active {
        color: #1591ff;
        background-color: #e6f6ff;
        border-radius: 10px;
    }
}

.top_icon {
    color: #282828;
    font-size: 23px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.container_flow {
    display: flex;
    flex-grow: 1;
    flex-direction: row;

    & .reactflow-wrapper {
        flex-grow: 1;
        min-height: 80vh;
    }
}

.node_default,
.container_flow aside .node_default {
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;

    & .ant-typography.ant-typography-edit-content {
        top: 30px;
        left: -4px;
    }
    &:not(.node_view) {
        &.circle {
            background-image: url(/i/Circle-background.svg);
        }
        &.circle.green {
            background-image: url(/i/Circle-background-green.svg);
        }
        &.circle.orange {
            background-image: url(/i/Circle-background-orange.svg);
        }

        &.diamond {
            background-image: url(/i/Diamond-background.svg);
        }
        &.diamond.green {
            background-image: url(/i/Diamond-background-green.svg);
        }
        &.diamond.orange {
            background-image: url(/i/Diamond-background-orange.svg);
        }

        &.hexagon {
            background-image: url(/i/Hexagon-background.svg);
        }
        &.hexagon.green {
            background-image: url(/i/Hexagon-background-green.svg);
        }
        &.hexagon.orange {
            background-image: url(/i/Hexagon-background-orange.svg);
        }

        &.seal {
            background-image: url(/i/Seal-background.svg);
        }
        &.seal.green {
            background-image: url(/i/Seal-background-green.svg);
        }
        &.seal.orange {
            background-image: url(/i/Seal-background-orange.svg);
        }

        &.shield {
            background-image: url(/i/Shield-background.svg);
        }
        &.shield.green {
            background-image: url(/i/Shield-background-green.svg);
        }
        &.shield.orange {
            background-image: url(/i/Shield-background-orange.svg);
        }

        &.square {
            background-image: url(/i/Square-background.svg);
        }
        &.square.green {
            background-image: url(/i/Square-background-green.svg);
        }
        &.square.orange {
            background-image: url(/i/Square-background-orange.svg);
        }
    }
    &.node_view {

        & .lock {
            width: 100%;
            height: 30px;
            background-image: url(/i/user/lock-white.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 5px;
        }
        & .repeat {
            width: 100%;
            height: 30px;
            background-image: url(/i/user/repeat-white.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-bottom: 5px;
        }

        &.grey {
            cursor: not-allowed !important;
        }
        &.circle {
            background-image: url(/i/user/figure/Circle-background.svg);
        }
        &.circle.blue {
            background-image: url(/i/user/figure/Circle-background-blue.svg);
        }
        &.circle.green {
            background-image: url(/i/user/figure/Circle-background-green.svg);
        }
        &.circle.light_green {
            background-image: url(/i/user/figure/Circle-background-light-green.svg);
        }
        &.circle.orange {
            background-image: url(/i/user/figure/Circle-background-orange.svg);
        }
        &.circle.red {
            background-image: url(/i/user/figure/Circle-background-red.svg);
        }

        &.diamond {
            background-image: url(/i/user/figure/Diamond-background.svg);
        }
        &.diamond.blue {
            background-image: url(/i/user/figure/Diamond-background-blue.svg);
        }
        &.diamond.green {
            background-image: url(/i/user/figure/Diamond-background-green.svg);
        }
        &.diamond.light_green {
            background-image: url(/i/user/figure/Diamond-background-light-green.svg);
        }
        &.diamond.orange {
            background-image: url(/i/user/figure/Diamond-background-orange.svg);
        }
        &.diamond.red {
            background-image: url(/i/user/figure/Diamond-background-red.svg);
        }

        &.hexagon {
            background-image: url(/i/user/figure/Hexagon-background.svg);
        }
        &.hexagon.blue {
            background-image: url(/i/user/figure/Hexagon-background-blue.svg);
        }
        &.hexagon.green {
            background-image: url(/i/user/figure/Hexagon-background-green.svg);
        }
        &.hexagon.light_green {
            background-image: url(/i/user/figure/Hexagon-background-light-green.svg);
        }
        &.hexagon.orange {
            background-image: url(/i/user/figure/Hexagon-background-orange.svg);
        }
        &.hexagon.red {
            background-image: url(/i/user/figure/Hexagon-background-red.svg);
        }

        &.seal {
            background-image: url(/i/user/figure/Seal-background.svg);
        }
        &.seal.blue {
            background-image: url(/i/user/figure/Seal-background-blue.svg);
        }
        &.seal.green {
            background-image: url(/i/user/figure/Seal-background-green.svg);
        }
        &.seal.light_green {
            background-image: url(/i/user/figure/Seal-background-light-green.svg);
        }
        &.seal.orange {
            background-image: url(/i/user/figure/Seal-background-orange.svg);
        }
        &.seal.red {
            background-image: url(/i/user/figure/Seal-background-red.svg);
        }

        &.shield {
            background-image: url(/i/user/figure/Shield-background.svg);
        }
        &.shield.blue {
            background-image: url(/i/user/figure/Shield-background-blue.svg);
        }
        &.shield.green {
            background-image: url(/i/user/figure/Shield-background-green.svg);
        }
        &.shield.light_green {
            background-image: url(/i/user/figure/Shield-background-light-green.svg);
        }
        &.shield.orange {
            background-image: url(/i/user/figure/Shield-background-orange.svg);
        }
        &.shield.red {
            background-image: url(/i/user/figure/Shield-background-red.svg);
        }

        &.square {
            background-image: url(/i/user/figure/Square-background.svg);
        }
        &.square.blue {
            background-image: url(/i/user/figure/Square-background-blue.svg);
        }
        &.square.green {
            background-image: url(/i/user/figure/Square-background-green.svg);
        }
        &.square.light_green {
            background-image: url(/i/user/figure/Square-background-light-green.svg);
        }
        &.square.orange {
            background-image: url(/i/user/figure/Square-background-orange.svg);
        }
        &.square.red {
            background-image: url(/i/user/figure/Square-background-red.svg);
        }

        & .main .title {
            color: #FFFFFF !important;
        }
    }

    & .control_panel {
        display: none;
        width: 340px;
        left: calc(50% - 170px);
        position: absolute;
        height: 47px;
        top: -60px;
        background-color: #FFFFFF;
        border-radius: 5px;
        font-size: 16px;
        box-shadow: 0 0 6px 1px #CCD1D9;


        &.bottom {
            width: 216px;
            left: -8px;
            position: absolute;
            height: 47px;
            top: 215px;
            box-shadow: 0 0 0 0 #FFFFFF;
            border-radius: 24px;

            & .ant-btn.ant-btn-primary.ant-btn-circle {
                width: 100%;
                height: 100%;
                border-radius: 24px;
                font-size: 16px;
                padding: 0;

                & span {
                    padding: 0;
                }
            }
        }

        & a {
            color: rgba(0, 0, 0, 0.85);
        }

        & .control_panel_line {
            display: inline-block;
            vertical-align: top;
            padding: 10px 0 10px 0;
            border-right: 1px solid #CCD1D9;
            height: calc(100% - 20px);
            margin-top: 10px;
        }

        & .control_panel_el.only-library {
            width: 100%;
            padding: 11px 55px 11px 55px;
        }

        & .control_panel_el.first {
            width: 150px;
        }
        & .control_panel_el.last {
            white-space: nowrap;
            width: 189px;
            padding-left: 50px;
            padding-right: 5px;
            overflow: hidden;
            text-overflow: ellipsis;

            &:before {
                content: '';
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 15px;
                top: 10px;
                width: 25px;
                height: 25px;
                z-index: 999;
            }
            &.circle:before {
                background-image: url(/i/Circle.svg);
            }
            &.diamond:before {
                background-image: url(/i/Diamond.svg);
            }
            &.hexagon:before {
                background-image: url(/i/Hexagon.svg);
            }
            &.seal:before {
                background-image: url(/i/Seal.svg);
            }
            &.shield:before {
                background-image: url(/i/Shield.svg);
            }
            &.square:before {
                background-image: url(/i/Square.svg);
            }
        }

        & .control_panel_el:hover {
            background-color: #ececec;
            cursor: pointer;
        }
        & .control_panel_el {
            padding: 11px 20px 11px 20px;
            display: inline-block;
            position: relative;
            vertical-align: top;
            //width: 49%;

        }

        & .type_list {
            position: absolute;
            top: 55px;
            right: -150px;
            display: none;
            width: 380px;
            background-color: #FFFFFF;
            z-index: 999;
            box-shadow: 0 0 6px 1px #CCD1D9;
            border-radius: 5px;

            &.show {
                display: block;
            }

            & ul {
                margin: 0 !important;
                list-style-type: none;
                padding: 0 !important;

                & li {
                    cursor: pointer;
                    position: relative;

                    &:before {
                        content: '';
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        left: 7px;
                        top: 6px;
                        width: 25px;
                        height: 25px;
                        z-index: 999;
                    }

                    &.circle:before {
                        background-image: url(/i/Circle.svg);
                    }
                    &.diamond:before {
                        background-image: url(/i/Diamond.svg);
                    }
                    &.hexagon:before {
                        background-image: url(/i/Hexagon.svg);
                    }
                    &.seal:before {
                        background-image: url(/i/Seal.svg);
                    }
                    &.shield:before {
                        background-image: url(/i/Shield.svg);
                    }
                    &.square:before {
                        background-image: url(/i/Square.svg);
                    }

                    padding: 5px 5px 5px 40px;
                }
                & li:hover {
                    background-color: #ececec;
                }
                & li.selected {
                    background-color: #cbcbcb;

                }
            }
        }
        & span {
            padding: 11px 13px;
        }
    }

    & .main {
        width: 100%;
        position: absolute;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        top: 0;
        //margin-top: -0.625em;

        & .title {
            margin-left: 5px;
            width: 100%;
            font-size: 16px;

            & .ant-typography {
                margin-bottom: 0 !important;

                & .ant-typography-edit {
                    position: absolute;
                    right: 22px;
                    top: 88px;
                }
                & strong {
                    vertical-align: middle;
                    height: 200px;
                    width: 190px;
                    display: table-cell;
                }
            }
        }

    }

    & .add_new_node {
        position: absolute;
        display: none;
        width: 24px;
        height: 24px;
        font-size: 24px;

        &:hover {
            cursor: pointer;
            & span svg g circle {
                fill: #1790FF
            }
            & span svg g path {
                fill: #FFFFFF;
            }
        }
        & span {
            vertical-align: top;
        }
        &.right {
            top: calc(50% - 12px);
            right: -35px;
        }
        &.bottom {
            right: calc(50% - 12px);;
            bottom: -35px;
        }
    }
}

.node_view,
.container_flow aside .node_view {
    cursor: pointer !important;

    & .main {
        display: table;
        width: 100%;

        //.rate {
        //    padding: 6px 12px;
        //    width: 100%;
        //    font-size: 11px;
        //    text-transform: uppercase;
        //    color: #000000;
        //    position: absolute;
        //    bottom: 35px;
        //    left: 0;
        //
        //    &__title {
        //        margin-right: 10px;
        //    }
        //
        //    .ant-rate {
        //        font-size: 13px;
        //    }
        //}

        & .title {
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            width: calc(100% - 40px);
            font-size: 16px;
            display: table-cell;
            vertical-align: middle;
            padding: 20px;
            max-width: 200px;
        }

        //& .description {
        //    overflow: hidden;
        //    text-overflow: ellipsis;
        //    display: -moz-box;
        //    -moz-box-orient: vertical;
        //    display: -webkit-box;
        //    -webkit-line-clamp: 2;
        //    -webkit-box-orient: vertical;
        //    line-clamp: 2;
        //    box-orient: vertical;
        //    width: calc(100% - 20px);
        //    margin: 0 10px 0 10px;
        //}
        //
        //& .tags {
        //    padding: 0 12px 12px 12px;
        //
        //    & .ant-tag {
        //        margin-top: 5px;
        //    }
        //}
    }
}


.react-flow__handle {
    visibility: hidden;

    &.react-flow__handle-top {
        top: -10px;
    }
    &.react-flow__handle-bottom {
        bottom: -10px;
    }

    &.react-flow__handle-left {
        left: -8px;
    }
    &.react-flow__handle-right {
        right: -8px;
    }
    &.defaultTheme {
        width: 24px;
        height: 24px;
        background-image: url(/i/Arrow.svg);
        background-repeat: no-repeat;
        background-size: contain;

        &.react-flow__handle-top {
            transform: translate(-50%) rotate(90deg);
        }
        &.react-flow__handle-right {
            transform: translateY(-50%) rotate(0deg);
        }
        &.react-flow__handle-bottom {
            transform: translate(-50%) rotate(90deg);
        }
        &.react-flow__handle-left {
            transform: translateY(-50%) rotate(0deg);
        }
    }
}
.react-flow.only_view .react-flow__node{
    overflow: hidden;
    max-height: 200px;
    max-width: 200px;
}
.react-flow:not(.only_view) {

    .react-flow__node:hover .react-flow__handle-bottom,
    .react-flow__node:hover .react-flow__handle-right, {
        visibility: visible;
    }

    .react-flow__node-special:hover,
    .react-flow__node-special.selected,
    .react-flow__node-special.selected:hover, {
        box-shadow: 0 0 0 2px #1790FF;
        border-radius: 2px;
    }
    .react-flow__edge.selected {
        & path:not(.react-flow__edge-path-selector) {
            stroke: #1790FF !important;
        }
    }
    .react-flow__edge-path-selector:hover { cursor: pointer }
    .react-flow__edge-path-selector:hover + .react-flow__edge-path, .react-flow__edge-path:hover  {
        stroke: #CCD1D9;
        cursor: pointer;
    }
}
.react-flow__edge-path-selector {
    fill: none;
    stroke: transparent;
    stroke-width: 28;
}
.react-flow__minimap-node:after {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}
.react-flow__minimap-node {

}
.react-flow__edge-default {

}
.react-flow__node.react-flow__node-special.selected .control_panel,
.react-flow__node.react-flow__node-special.selected .add_new_node {
    display: block;
}


.ant-layout-sider-children {
    //padding-top: 180%;
    border-right: 1px solid #CCD1D9;
}
.form_list_container {
    display: inline-block;
    width: 415px;
    vertical-align: top;
    margin-left: -26px;

    &.one {
        width: 883px;

        &.correct_order {
            margin: 30px 0 0 100px;
        }
    }
    & .ant-form-horizontal .ant-form-item-control {

    }
    //.ant-form-item {
    //    display: block;
    //}
    &.right_add {

    }
    &.left_add {
        margin-left: 20px;
    }
}
.react-finder.react-finder-container {
    border: 1px solid #D8D8D8;
    border-bottom: none;
    border-left: none;
    min-height: 75vh;

    .react-finder-column {
        min-width: 300px;
        padding: 20px 15px 0 15px;
        border-right: 1px solid #D8D8D8;

        .react-finder-column-header {
            .add-division {
                padding: 5px 5px 5px 5px;
                cursor: pointer;
                text-align: center;
                margin-bottom: 15px;
                border-radius: 8px;

                &:hover {
                    background-color: #E6F7FF;
                }
                & .title {
                    display: inline-block;
                    vertical-align: top;
                }
            }

        }
        .react-finder-item {
            position: relative;
            padding: 8px 15px 8px 15px;
            border-radius: 8px;
            margin-bottom: 3px;

            &.opened {
                font-weight: 600;
                background-color: #E6F7FF;
            }
            &.selected {
                font-weight: 600;
            }
            &.selected svg path {
                fill: #FFFFFF
            }
        }
    }
}
.page_title {
    padding: 21px 0 21px 35px;
    margin: 0 !important;
    //font-size: 20px;
}
.checking_tabs .ant-tabs-nav {
    padding-left: 20px;
}
.main_search {
    margin: 15px 0 15px 25px;
    background-color: #F5F7FA;
    border-radius: 24px;
    border: none;
    & input {
        background-color: #F5F7FA;
        padding: 5px 0 5px 15px !important;
    }
}
.set_active_map {

    & .ant-modal-body {
        padding: 0 !important;
    }
    & .option {
        display: block;
        padding: 10px 5px 10px 25px;
        border-bottom: 1px solid #f1f1f1;

        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }
        & div {
            display: inline-block;
            vertical-align: middle;
        }

        & div:first-child {
            width: 30%;
        }
        & div:last-child {
            width: 69%;
        }
    }
}
.library_item {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 150px;
    height: 270px;
    background-color: #FFFFFF;
    //box-shadow: 0 0 0 2px #1790ff;
    border-radius: 16px;
    margin: 0 0 10px 10px;
    padding: 10px;
    text-align: left;
    cursor: pointer;

    &.selected {
        box-shadow: 0 0 0 2px #1790ff;
    }
}
.bf-player-holder {
    height: 400px !important;

    & .button-play {
        margin: 160px auto 20px !important;
    }
}
.mark_add_select{
    &.library {
        background-color: #FFFFFF;
        padding: 10px 0 10px 0;

        & .ant-select-selector {
            border: none;
            margin-left: 40px;
        }
    }

    & .ant-select-selector {
        border-radius: 24px !important;

        & .ant-select-selection-item {
            line-height: 30px !important;
            border-radius: 24px !important;
            padding: 0 8px 5px 8px !important;
        }
    }
}
.ant-modal-content {
    border-radius: 8px !important;
}

form#login {
    & .ant-row.ant-form-item:first-child {
        & .ant-form-item-explain {
            display: none;
        }
    }
    & .ant-form-item {
        margin-bottom: 15px !important;
    }
    & .ant-col.ant-form-item-label{
        display: none;
    }
    & .ant-col.ant-form-item-control {

        & input {
            margin-bottom: 0 !important;
        }
    }


}
.auth-tabs {
    .ant-tabs-nav {
        display: none !important;
    }
}
.library {
    &.item {
        & span {
            display: inline-block;
            vertical-align: bottom;
            white-space: break-spaces;
        }
        &.content_container:before {
            display: inline-block;
            content: '';
            height: 100%;
            width: 0;
            margin-left: -2px;
            vertical-align: bottom;
        }
        &.content_container {
            //vertical-align: bottom;
            width: 100%;
            height: 105px;
            position: absolute;
            left: 0;
            bottom: 30px;
            padding: 0 10px;
            overflow-y: scroll;
            //display: flex;
            //flex-direction: column;
            //justify-content: flex-end;

            &_block{
                display: inline-block;
                vertical-align: bottom;
            }
        }

        &.text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            line-clamp: 4;
            box-orient: vertical;

            width: 100%;
        }
    }
}
.selected-feature-node,
.selected-feature-node .rst__rowContents,
.selected-feature-node .rst__rowContents .ant-typography {
    color: #FFFFFF;
    background-color: #1790FF;
}
.selected-feature-node .rst__rowContents .ant-typography:not(.ant-typography-edit-content) svg {
    fill: #FFFFFF;
}
.rst__rowContents {
    cursor: pointer;
}

.c_table{
    display: table;
    width: 100%;

    &__row{
        display: table-row;
        &:first-child{
            .c_table__cell{
                border-top: none;
            }
        }
    }
    &__cell{
        display: table-cell;
        padding: 20px 30px;
        border-top: 0.5px solid #F0F1F4;

        &.nw{
            white-space: nowrap;
        }
        &.w1{
            width: 1px;
        }

        &:first-child{
            padding-left: 5px;
        }
    }
}

.user_balance{
    $userGrey: #AAB2BD;

    &__info{
        padding-left: 5px;

        &__label{
            color: $userGrey;
            font-size: 16px;
        }
        &__sum{
            font-size: 72px;
            line-height: 120px;
            color: #0F1419;
            margin-left: -5px;
        }
        &__price{
            font-size: 18px;
            margin: 66px 0;
            span{
                color: $userGrey;
            }
        }
    }

    &__table{
        .balance_cell{
            color: #AAB2BD;
            &.plus{
                color: #52C41A;
            }
        }
        &_name{
            font-size: 18px;
            padding-left: 5px;
        }
    }

}

#components-dropdown-demo-arrow-center .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}
.ant-row-rtl #components-dropdown-demo-arrow-center .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
}

.ant-upload-select-picture-card {
    border-radius: 0;
    height: inherit;
    width: inherit;
}

.ant-tooltip-inner {
    text-align: center !important;
}

.form_inputs_title_top{

    .ant-divider{
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .ant-form-item{
        &-label{
            padding: 0;
        }

        .ant-select-multiple{
            .ant-tag{
                font-size: 16px;
                padding: 5px 14px;
                border-width: 0.5px;
                border-radius: 20px;

                .anticon-close{
                    position: relative;
                    margin-left: 10px;
                    top: -1px;
                }
            }
        }

        .ant-checkbox-group{
            .ant-checkbox-wrapper{
                margin-right: 64px;
            }
        }
    }

    .form_item_group{
        &__h{
            font-size: 21px;
            font-style: bold;
            margin-bottom: 24px;
        }
    }
}

.division_breadcrumbs{
    display: block;
    margin: 0;
    padding: 0;

    &:not(:empty){
        margin-bottom: 18px;
    }

    li{
        display: inline;
        color: #0F1419;
        list-style: none;

        &:before{
            content: ' / ';
            display: inline;
            color: #CCD1D9;
        }
        &:last-child{
            display: none;
        }
        &:first-child{
            &:before{
                display: none;
            }
        }
    }
}

.user_edit{
    .ant-upload{
        width: 170px;
        height: 170px;
        overflow: hidden;
        border-radius: 100%;
        border: none;

        img{
            width: auto;
            height: 100%;
        }
    }

    &__access{
        &__h{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        &__list{
            font-size: 14px;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 30px;

            li{
                position: relative;
                margin-bottom: 5px;

                &:before{
                    content: '•';
                    display: inline-block;
                    margin-right: 10px;
                }
            }

        }


    }
}

.refresh_btn{
    &:hover{
        color: #1790FF !important;
        transition: none;
    }
    &:active{
        transition: none;
        transform: scale(0.95);
    }
}

.map_info {
    width: 100%;
    padding-left: 40px;

    & div {
        padding: 5px 0 5px 17px;
        margin-right: 40px;
        position: relative;
        display: inline-block;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: calc(50% - 5px);
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }

        &.available:before {
            background-color: #1790FF;
        }
        &.progress:before {
            background-color: #FFB95C;
        }
        &.on_verification:before {
            background-color: #A3DDBF;
        }
        &.completed:before {
            background-color: #09C358;
        }
        &.error:before {
            background-color: #FF3B30;
        }
        &.repeat:before {
            width: 14px;
            height: 14px;
            top: calc(50% - 7px);
            background-image: url(/i/user/repeat-blue.svg);
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 0;
        }
        &.disabled:before {
            width: 14px;
            height: 14px;
            top: calc(50% - 7px);
            background-image: url(/i/user/lock-grey.svg);
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 0;
        }
    }
}

.btn-popover:hover {
    background-color: #E6F7FF;
}


.ant-form-item-explain, .ant-form-item-extra{
    font-size: 12px !important;
}

.generate-domain-before{
    &:hover{
        opacity: 0.6;
        cursor: pointer;
    }
}
.domain-input{
    input{
        text-align: right !important;
    }
}

