@media (max-width: 850px) {
  .f-nav-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 13px 20px 16px 20px;
    backdrop-filter: blur(8px);
    overflow-y: scroll;
    display: flex;
    align-items: center;
    width: 100vw;
    //scroll-behavior: unset;
    //scrollbar-width: none;
    //-ms-overflow-style: none;
  }

  .f-nav-wrap::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .f-selected-nav-menu {
    background-color: #D9F94B;
  }

  .f-cards-under-block {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

  .f-new-idea {
    bottom: 100px;
    left: 20px;
  }

  .f-edit-mobile-style {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .f-nav-button {
    height: 50px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 14px;
  }

  .f-search-click, .f-logo-click, .f-side-block-items, .f-wrap-elements {
    display: none;
  }

  .f-cards-wrap {
    display: flex;
    justify-content: center;
    width: auto;
    position: unset;
    margin-bottom: 100px;
    margin-top: 120px;
  }

  .f-cards-wrapper-pad {
    max-width: unset;
    margin: unset;
    margin-top: 70px;
    width: 100%;
  }

  .f-single-idea-wrap {
    width: unset;
    min-width: unset;
    min-height: unset;
  }

  .f-cards-under-wrap {
    justify-content: space-between;
    width: 100%;
  }

  .f-ideas-scroll {
    max-width: 100%;
  }

  .f-cards {
    min-width: unset;
  }

  .f-cards-div-wrap-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
  }

  .f-wrap-idea-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .f-wrap-login {
    right: 20px;
  }

  .f-cards-hashtag {
     margin-left: 20px;
  }

  .f-cards-type-viewed {
    display: none;
  }

  .f-comments {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: unset;
  }

  .f-addon-style {
    padding: 40px 20px 20px 20px;
  }

  .f-cards-avatar-bottom-border {
    padding-left: 20px;
  }

  .f-write-comments {
    padding-left: 20px;
    padding-right: 20px;
  }

  .disable {
    right: 22px;
    bottom: 25px;
  }

  .logo-circle {
    display: none;
  }

  .f-header-wrap-logo {
    background-color: #D9F94B;
    padding: 3px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .f-cards-content-text {
    font-size: 28px;
  }

  .f-cards-wrap-text {
    width: unset;
  }

  .f-padding-official {
    padding-left: unset;
    width: 100%;
  }

  .f-comments-tip-text {
    padding-left: 20px;
  }

  .ant-modal-body {
    padding: 20px;
  }

  .ant-form-horizontal {
    width: 100%;
  }

  .f-body-login {
    padding: unset;
  }

  .ant-input {
    width: 100%;
  }

  .f-login {
    margin-top: 24px;
  }

  .f-clode-button-login {
    top: 55px;
  }

  .f-sublogin {
    margin-top: unset;
    width: 100%;
    padding: 20px;
  }

  .f-wrap-settings {
    width: 100%;
  }

  .of-comment {
    padding: 10px 20px 30px 20px;
  }

  .f-system-from {
    padding-left: 20px;
    padding-right: 20px;
  }

  .f-comments-under-text {
    padding-left: 20px;
    padding-right: 20px;
  }

  .f-select-mobile {
    width: 34px;
  }

  .ant-select-selection-item {
    visibility: hidden;
  }

  .backcolor {
    background-color: #DFE7F8;
  }
}
