<!DOCTYPE html>

<title>Hello AssociationController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a target="_top" href="https://ag.atmadev.ru/login-app/">Перейти в приложение</a>
    <a target="_blank" href="https://ag.atmadev.ru/login-app/">Перейти в приложение</a>
</div>
{% endblock %}
