<!DOCTYPE html>
<html>
    <head xmlns:og="http://ogp.me/ns#">
        <meta name="csrf_token" content="{{ csrf_token('authenticate') }}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Добро пожаловать в систему обратной связи. Здесь вы можете предложить идеи по улучшению наших услуг или проголосовать за идеи других людей.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:site_name" content="https://tips.atmaguru.online"/>
        <meta property="og:type" content="article" />
        <meta property="og:url" content="https://tips.atmaguru.online/ru/idea/302/">
        <meta property="og:title" content="Система обратной связи AtmaGuru">
        <meta property="og:image" content="https://tips.atmaguru.online/i/logotype.png"/>
        <meta property="og:description" content="Добро пожаловать в систему обратной связи. Здесь вы можете предложить идеи по улучшению наших услуг или проголосовать за идеи других людей."/>
        <title>FeedBack</title>

        <link rel="icon" type="image/x-icon" href="/i/favicon.ico">
        <!-- Scripts -->
        <script src="/js/app.js?deploy=2312333123" defer></script>

        <style>
            .loader-wrapper {
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                background-color: white;
                display: grid;
                place-items: center;
            }

            .loader {
                background-image: url("/i/logotype.svg");
                background-size: contain;
                border-radius: 50%;
                width: 140px;
                height: 140px;
                animation: spin 1s linear infinite;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
        <!-- Styles -->

    </head>
    <body>
        <div id="app" style="height: 100%">
            <div id="root">
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </body>
    <link href="/css/app.css?deploy=2312333123" rel="stylesheet">
</html>
