<!DOCTYPE html>
<html>
    <head>
        <meta name="csrf_token" content="{{ csrf_token('authenticate') }}">
        <meta charset="UTF-8">
        <title>AtmaGuru</title>
        <!-- Scripts -->
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <script src="/js/app.js?deploy=2312333123" defer></script>

        <!-- Styles -->

    </head>
    <body>
        <div id="app" style="height: 100%"></div>
    </body>
    <link href="/css/app.css?deploy=2312333123" rel="stylesheet">
</html>
